.logo {
  width: 120px;
  height: 31px;
  color: #fff;
  float: left;
}

.header-menu {
  line-height: 64px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.user-text {
  color: #fff;
  margin-right: 1rem;
}